<!DOCTYPE html>
<html>
  <head>
    <title>Puppr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.authpup = "<%= image_url('samuel.jpg') %>";
      window.logo = "<%= image_url('flickr-logo.png') %>";
      window.mainpup = "<%= image_url('andrew-pons.jpg') %>";
      window.icons = "<%= image_url('flickr-icons2.png') %>"
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
