<!DOCTYPE html>
<html>
  <head>
    <title>Puppr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700&display=swap" rel="stylesheet">
    <meta property="og:title" content="Puppr">
    <meta property='og:description' content="Puppy photo uploading site cloned from Flickr">
    <meta property="og:image" content="../../readme_images/Puppr.png">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon-32x32.png') %>

    <script type="text/javascript">
      window.authpup = "<%= image_url('samuel.jpg') %>";
      window.logo = "<%= image_url('flickr-logo.png') %>";
      window.mainpup = "<%= image_url('andrew-pons.jpg') %>";
      window.icons = "<%= image_url('flickr-icons2.png') %>";
      window.sad = "<%= image_url('sad.jpg') %>"
      window.prof = "<%= image_url('dogwbone.jpg') %>"
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
